section{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

form{
    margin: 80px 160px;
    width: 50%;
    gap: 30px;
    text-align: justify;
    padding: 36px 64px;
    border-radius: 20px;
    background-color: #F2F2F2;
    box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.08);
}

form .box-interno{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.card{
    margin: 24px 0px;
}


h2{
    color: #212121;
    font-family: Prata;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
