.time {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 32px;
}

.cards{
    display: flex;
    margin-top: 32px;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}


.time h3{
    font-size: 32px;
    border-bottom: 4px solid;
    padding-bottom: 8px;
}

